{% extends 'base.html' %}

{% block title %}Rules - My Website{% endblock %}

{% block content %}
<div class="about">
    <h4>About Me</h4>
    {% load static %}
    <img class="snap" src="{%static 'snap.png' %}" alt="Satya Kiriti Velivela">
    <br/>
    <p>My name is Satya Kiriti Velivela, a graduate student at Chico State, pursuing my Master's in Computer Science. With a keen focus on software development, I am particularly passionate about backend systems, cloud computing, and scalable architectures. I thrive on the challenges these fields present and enjoy the constant learning they require. </p>

    <p>Outside of my academic pursuits, I enjoy solving complex problems through code and staying up to date with emerging technologies. I am especially interested in cloud-native applications and distributed systems, as I believe these areas hold the key to building robust, future-proof solutions. My academic journey has been fueled by a drive to innovate and make meaningful contributions to the field of software engineering.</p>

    <p>Looking ahead, my primary career goal is to become a software engineer in a dynamic and challenging environment where I can continuously grow both technically and professionally. I aspire to work on projects that push the boundaries of software technology, contributing to impactful solutions while refining my expertise in cloud computing and backend development.</p>

    <p>In my free time, I enjoy exploring new technologies, reading up on the latest industry trends, and engaging in hands-on projects to refine his technical skills. His long-term professional aspiration is to become a proficient software engineer, contributing to innovative, large-scale projects in the tech industry.</p>
</div>
{% endblock %}