{% extends 'base.html' %}

{% block title %}Chess History - My Website{% endblock %}

{% block content %}
<div class="aboutGame">
    <h4>Chess</h4>
    <p>
      Chess is a strategic board game played by two opponents on a checkered board of 64 squares, with the objective of checkmating the opposing player's king. Each player starts with 16 pieces: one king, one queen, two rooks, two knights, two bishops, and eight pawns. The pieces move in distinct ways, and the game revolves around maneuvering them to control the board and trap the enemy king in a position where it cannot escape capture.
    </p>
    <p>      
      The origins of chess can be traced back to the 6th century in India, where a game called *chaturanga* was played. From there, it spread to Persia and then to the Islamic world, where it evolved into its modern form. By the Middle Ages, chess had become a popular game throughout Europe, where the rules were refined further, including the modern movements of the queen and bishop.
    </p>
    <p>      
      By the late 19th century, chess had become formalized as an international sport, with the first official World Chess Championship held in 1886. Over time, chess theory and strategies were developed, with players studying tactics and openings to improve their play. Today, chess remains one of the most popular and intellectually challenging games in the world, played both competitively and recreationally, with a vast global community. The advent of computers has also transformed the game, with artificial intelligence pushing the boundaries of chess strategy and training.
    </p>
</div>
{% endblock %}