body {
  font-family: sans-serif;
}

.chessboard-container {
  display: inline-block;
  margin: auto;
  border: 2px solid black;
}

.board-row {
  display: flex;
}

.board-cell {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  box-sizing: border-box;
}

.board-cell:nth-child(odd) {
  background-color: tan; /* Light square */
}

.board-cell:nth-child(even) {
  background-color: chocolate; /* Dark square */
}

.board-row:nth-child(even) .board-cell:nth-child(odd) {
  background-color: chocolate; /* Dark square */
}

.board-row:nth-child(even) .board-cell:nth-child(even) {
  background-color: tan; /* Light square */
}

.board-cell.label {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid black;
}

.chess-piece {
  font-size: 32px;
}

.chessboardButtons {
  margin-top: 1%;
}

.modal-header .text-danger {
  color: #dc3545; /* Bootstrap danger color */
  font-weight: bold;
}

.modal-body {
  font-size: 1.2rem;
}